#root {
    width: 100%;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }

    .logo.react:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
    }

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@font-face {
    font-family: "Koulen";
    src: url("./assets/fonts/Koulen-Regular.ttf");
}

@font-face {
    font-family: "PureEvil";
    src: url("./assets/fonts/Pure-Evil.ttf");
}

@font-face {
    font-family: "NewRocker";
    src: url("./assets/fonts/NewRocker-Regular.ttf");
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: #ffffee;
    user-select: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

    .navbar li {
        margin-left: 60px;
        margin-right: 60px;
        color: #b16161;
        cursor: pointer;
    }

.navbar-items {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

    .navbar-items li {
        color: #b16161;
        margin-right: 50px;
    }

    .navbar-items .text-button:hover {
        cursor: pointer;
        color: #914141;
    }

.footer-profile, .footer-module-one {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    height: 70px;
    background: #b16161;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

.footer-profile {
    background: #b16161;
}

.footer-module-one {
    background: #0E2417;
}

    .footer .footer-items {
        width: 40%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .footer p {
        color: #ffffee;
        font-size: 30px;
        margin: 0;
    }

    .footer .text-button:hover {
        cursor: pointer;
        color: #ccccbb;
    }

.info {
    position: relative;
    text-align: center;
    user-select: none;
    height: 630px;
    background-image: linear-gradient(#001219, #9B2226);
    z-index: -1;
}

    .info p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "PureEvil";
        color: #E9D8A6;
        font-size: 180px;
        margin: 0;
        width: 100%;
    }

.tickets {
    position: relative;
    text-align: center;
    user-select: none;
    height: 630px;
    background-image: linear-gradient(#001219, #9B2226);
    z-index: -1;
}

    .tickets p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "PureEvil";
        color: #E9D8A6;
        font-size: 180px;
        margin: 0;
        width: 100%;
    }


.content-profile {
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(#b16161, #d1caa1);
}

.content-module-one {
    position: relative;
    background-image: linear-gradient(#0E2417, #d1caa1);
    height: 3000px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 15%;
}

.banner {
    width: 84%;
    position: absolute;
    top: 0;
    margin-left: 8%;
    margin-right: 8%;
    height: 300px;
    background: #FFFFEE;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.group {
    display: flex;
    position: absolute;
    width: 100%;
    top: 100px;
    flex-direction: row;
    justify-content: space-between;
}

.profile {
    padding-left: 12%;
}

.picture {
    width: 300px;
    height: 300px;
    background: #EEEEEE;
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.square {
    width: 270px;
    height: 360px;
    background: #EEEEEE;
    border-radius: 23px;
}

.about {
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    width: 300px;
    height: 445px;
    background: #FFFFEE;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    padding-bottom: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

    .about h2 {
        color: #252525;
    }

.mooc {
    padding-right: 12%;
    width: 100%;
    margin-top: 200px;
    margin-left: 30px;
}

.progress {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    border-radius: 30px;
}

.modules {
    padding: 15px;
    display: flex;
    background: #FFFFEE;
    border-radius: 35px;
    height: 480px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: space-between;
}

.module_one {
    display: flex;
    width: 32%;
    flex-direction: column;
    justify-content: space-between;
}

.module_one_banner {
    background: #235939;
    border-radius: 23px;
    height: 68%;
}

    .module_one_banner:hover {
        cursor: pointer;
        transform: scale(1.05);
        border-radius: 30px;
    }

.module_one_details {
    background: #EEEEEE;
    border-radius: 23px;
    height: 28%;
}

.module_two {
    display: flex;
    width: 32%;
    flex-direction: column;
    justify-content: space-between;
}

.module_two_banner {
    background: #EEEEEE;
    border-radius: 23px;
    height: 68%;
}

.module_two_details {
    background: #EEEEEE;
    border-radius: 23px;
    height: 28%;
}

.module_three {
    display: flex;
    width: 32%;
    flex-direction: column;
    justify-content: space-between;
}

.module_three_banner {
    background: #EEEEEE;
    border-radius: 23px;
    height: 68%;
}

.module_three_details {
    background: #EEEEEE;
    border-radius: 23px;
    height: 28%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .video-container iframe {
        position: absolute;
        top: 25%;
        width: 83%;
        height: 83%;
    }
    .video-container .video-background {
        position: absolute;
        top: 23%;
        width: 85%;
        height: 87%;
        background: #0E2417;
    }

.video-description {
    position: relative;
    margin-top: 200px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .video-description .video-description-background {
        position: absolute;
        width: 75%;
        height: 100%;
        background: #ffffee;
    }

.video-description-background h1 {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px;
    color: #0E2417;
    font-weight: bold;
}

    .video-description .video-description-background-hole {
        position: absolute;
        top: 75px;
        width: 74.5%;
        height: 90px;
        background: #0E2417;
    }

.video-description-background-hole h1 {
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 35px;
    color: #ffffee;
    font-weight: bold;
}

.chapter-description {
    position: relative;
    margin-top: 100px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .chapter-description .chapter-description-background {
        position: absolute;
        width: 75%;
        height: 100%;
        background: #0E2417;
    }

.chapter-description-background h1 {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px; 
    color: #ffffee;
    font-weight: bold;
}

.chapter-description .chapter-description-background-hole {
    position: absolute;
    top: 75px;
    width: 74.5%;
    height: 83%;
    background: #ffffee;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.chapter-description-background-hole h1 {
    position: relative;
    margin-top: 25px;
    left: 40px;
    font-size: 35px;
    color: #0E2417;
    font-weight: bold;
}