#root {
    width: 100%;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }

    .logo.react:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
    }

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@font-face {
    font-family: "Koulen";
    src: url("./assets/fonts/Koulen-Regular.ttf");
}

@font-face {
    font-family: "PureEvil";
    src: url("./assets/fonts/Pure-Evil.ttf");
}

@font-face {
    font-family: "NewRocker";
    src: url("./assets/fonts/NewRocker-Regular.ttf");
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: #E1DFCB;
    user-select: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #E1DFCB;
}

    .navbar li {
        margin-left: 60px;
        margin-right: 60px;
        color: #b16161;
        cursor: pointer;
    }

.navbar-items {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

    .navbar-items li {
        color: #b16161;
        margin-right: 50px;
    }

    .navbar-items .text-button:hover {
        cursor: pointer;
        color: #914141;
    }

.footer-profile,
.footer-module-one,
.footer-module-two,
.footer-module-three,
.footer-info-page,
.footer-home-page {
    position: static;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    height: 70px;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

.footer-profile {
    background: #f5f7fa;
}

.footer-module-one {
    background: #0E2417;
}

.footer-module-two {
    background: #B16161;
}

.footer-module-three {
    background: #32213a;
}

.footer-info-page,
.footer-home-page {
    background: #f0f3f6;
}

    .footer .footer-items {
        width: 40%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .footer p {
        color: #f5f7fa;
        font-size: 30px;
        margin: 0;
    }

    .footer .text-button:hover {
        cursor: pointer;
        color: #ccccbb;
    }

.content-profile {
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 70px);
    background: #f5f7fa;
    /*background-image: linear-gradient(#b16161, #d1caa1);*/
}

.content-module-one {
    position: relative;
    background-image: linear-gradient(#0E2417, #374530);
}
.content-module-two {
    position: relative;
    background-image: linear-gradient(#b16161, #d1caa1);
    height: 3000px;
}
.content-module-three {
    position: relative;
    background-image: linear-gradient(#32213a, #5B4F5A);
}

.content-info-page {
    position: relative;
    background: #32213a;
    /*background-image: linear-gradient(#B8B8FF, #f5f7fa);*/
}



.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent; /* Make input background transparent */
}


/*.content-info-page,*/
.content-home-page {
    position: relative;
    background: #f5f7fa;
    /*background-image: linear-gradient(#B8B8FF, #f5f7fa);*/
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 10%;
    z-index: -999;
}

.banner {
    width: 100%;
    position: absolute;
    height: 300px; 
    background: #dfe3e6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.group {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    z-index: 20;
}

.profile {
    padding-left: 12%;
}

.picture {
    width: 300px;
    height: 300px;
    background: #f5f7fa;
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.square {
    width: 270px;
    height: 360px;
    background: #f5f7fa;
    border-radius: 23px;
}

.about {
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    width: 300px;
    height: 445px;
    background: #dfe3e6;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

    .about h2 {
        color: #252525;
    }

.mooc {
    padding-right: 12%;
    width: 100%;
    margin-top: 100px;
    margin-left: 30px;
}

.progress {
    height: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modules {
    padding: 0.5rem;
    display: flex;
    background: #dfe3e6;
    border-radius: 35px;
    height: 540px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    justify-content: space-between;
}

.module_one,
.module_two,
.module_three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.module_one_banner,
.module_two_banner,
.module_three_banner {
    border-radius: 23px;
    height: 68%;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.chapter_immage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.module_one_banner {
    background: #235939;
}

.module_two_banner {
    background: #B16161;
}

.module_three_banner {
    background: #32213a;
}

    .module_one_banner:hover,
    .module_two_banner:hover,
    .module_three_banner:hover {
        cursor: pointer;
        transform: scale(1.05);
        border-radius: 30px;
    }

.module_one_details,
.module_two_details,
.module_three_details {
    background: #f5f7fa;
    border-radius: 23px;
    height: 28%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

    .module_one_details:hover,
    .module_two_details:hover,
    .module_three_details:hover {
        cursor: pointer;
        transform: scale(1.05);
        border-radius: 30px;
    }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .video-container iframe {
        position: absolute;
        top: 14%;
        width: 70%;
        height: 70%;
        border-radius: 10px;
    }

    .video-container .video-background-module-one {
        display: flex;
        position: absolute;
        top: 12%;
        width: 80%;
        height: 74%;
        background: #0E2417;
        border-radius: 10px;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 1%;
    }
    .video-container .video-background-module-three {
        display: flex;
        position: absolute;
        top: 12%;
        width: 80%;
        height: 74%;
        background: #32213a;
        border-radius: 10px;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 1%;
    }

.video-background-module-one h1 {
    height: 100%;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffee;
    transform: scale(1.4);
}
        .video-background-module-one h1:hover {
            cursor: pointer;
            transform: scale(1.8);
        }

.video-description-module-one {
    position: relative;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0E2417;
    flex-direction: column;
    overflow: hidden;
}

    .video-description-module-one h1 {
        position: relative;
        margin-top: 25px;
        font-size: 40px;
        color: #ffffee;
        font-weight: bold;
    }

.video-background-module-three h1 {
    height: 100%;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffee;
    transform: scale(1.4);
}

    .video-background-module-three h1:hover {
        cursor: pointer;
        transform: scale(1.8);
    }

.video-description-module-three {
    position: relative;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #32213A;
    flex-direction: column;
}

    .video-description-module-three h1 {
        position: relative;
        margin-top: 25px;
        font-size: 40px;
        color: #ffffee;
        font-weight: bold;
    }

.video-description-home-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfe3e6;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

    .video-description-home-page h1 {
        position: relative;
        margin-top: 25px;
        font-size: 40px;
        color: #252525;
        font-weight: bold;
    }

.mooc-details {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    padding: 5% 0;
}

.block {
    margin: 3px 0;
    padding: 10px;
    background: #E1DFCB;
    border-radius: 10px;
}

    .block:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .block h3, .block h5 {
        color: #252525;
    }

.card {
    margin: 20px;
    margin-bottom: 50px;
    background: #fafaeaee;
    height: 400px;
    width: 300px;
}

    .card:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

.card-img {
    padding: 10px;
    position: absolute;
    top: 0;
}

.card-content {
    display: flex;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 170px;
    background: #ffffee;
    bottom: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: flex-start;
}
    .card-content h1 {
        color: #0E2417;
        padding-bottom: 10px;
    }
    .card-content h4 {
        color: #0E2417;
    }

.video-description-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.chapter-description {
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chapter-description-header h1 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #fafaeaee;
    font-weight: bold;
}

.chapter-description-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

    .chapter-description-content h1 {
        background: #fafaeaee;
        position: relative;
        text-align: left;
        width: 100%;
        margin-top: 25px;
        font-size: 35px;
        color: #0E2417;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;    
        border-radius: 5px;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

.chapter-two-description-content h1 {
    background: #fafaeaee;
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 25px;
    font-size: 35px;
    color: #b16161;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}


h1.module-one-selected-chapter {
    background: #0E2417;
    transform: scale(1.05);
    color: #fafaeaee;
}

h1.module-two-selected-chapter {
    background: #b16161;
    transform: scale(1.05);
    color: #fafaeaee;
}
    .chapter-description-content h1:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

h1.module-three-selected-chapter {
    background: #32213a;
    transform: scale(1.05);
    color: #fafaeaee;
}

.contents-button {
    width: 200px;
    height: 50px;
    background-color: #B16161;
    border: 5px solid #f5f7fa;
    border-radius: 25px; /* Adjust the border-radius for rounded edges */
    color: #f5f7fa;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px; /* Center text vertically */
    text-decoration: none;
    display: inline-block;
    margin-top: 100px;
    transition: transform 0.2s ease-in-out;
}

    /* Zoom effect on hover */
    .contents-button:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px 10px #b1616171;
    }

.quiz_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz_button-container {
    margin-bottom: 20px;
}

.quiz_google-form-container {
    width: 100%;
    max-width: 600px;
}

.module-details {
    background: #E1DFCB;
    margin-top: 70px;
    padding-bottom: 20px;
}

.module-details h2 {
    color: #252525;
}
.module-details h3 {
    color: #252525;
}

.module-details-content {
    padding: 0 15%;
}

.info-header,
.home-header {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 20px;
}
    .home-header h2 {
        color: #252525
    }
    .home-header h5 {
        color: #252525cc
    }
.info-header h5,
.home-header h5{
    color: #252525cc
}

.video-container-home-page {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-background-home-page {
    aspect-ratio: 1.777;
    background: #E1DFCB;
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.video-container-home-page iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.home-video {
}

.details-module {
}

.details-module-title {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.details-module-content .nav {
    border-bottom: 1px solid gray;
}

.lesson-content {
    text-align: left;
    margin: 20px 20px 10px;
}

.module-one .accordion-button, .module-one .accordion-button:not(.collapsed) {
    background: #0E2417;
    color: #f5f7fa;
}

    .module-one .accordion-button::after, .module-one .accordion-button:not(.collapsed)::after {
        background-image: var(--bs-accordion-btn-icon);
        filter: invert(1);
    }

.module-two .accordion-button, .module-two .accordion-button:not(.collapsed) {
    background: #b16161;
    color: #f5f7fa;
}

    .module-two .accordion-button::after, .module-two .accordion-button:not(.collapsed)::after {
        background-image: var(--bs-accordion-btn-icon);
        filter: invert(1);
    }

.module-three .accordion-button, .module-three .accordion-button:not(.collapsed) {
    background: #32213a;
    color: #f5f7fa;
}

    .module-three .accordion-button::after, .module-three .accordion-button:not(.collapsed)::after {
        background-image: var(--bs-accordion-btn-icon);
        filter: invert(1);
    }

/* OVERWRITE BOOTSTRAP CLASSES */

.module-details .nav-link {
    color: #252525;
    border-radius: 0;
}

.module-details .nav-tabs .nav-link.active {
    color: #252525;
}

.module-details-content .accordion-button {
    border-radius: 0.375rem;
    text-transform: uppercase;
}

.module-details-content .accordion-item {
    margin: 20px 0;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    background-color: transparent;
}

.navbar a {
    color: #252525;
}

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}